body{
    background-image: linear-gradient(to right,#f06b42 ,#fff, #1b5a2b);
}
a{
    color: white;
}
h1{
    font-family: cursive;
    color: rgb(63, 63, 63);
    text-align: center;
}
h3{
    text-align: center;
    color: rgb(94, 94, 94);
    font-size: 150%;

}
div{
    margin-top: 15%;
    margin-left: 37%;
}
p{
    color: rgb(39, 39, 39);
    font-size: 150%;  
}
h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(39, 39, 39, 0.925);
    text-align: center;
}


#btn{
    background-color: rgba(48, 47, 47, 0.404);
    color: rgba(26, 26, 26, 0.781);
    font-family:fantasy;
    border: 3px solid rgba(235, 148, 76, 0.712);
    cursor: pointer;
    margin-left: 47%;
}
#claimbtn .name{
    border: 2px solid rgba(253, 139, 9, 0.801);
    width: 25%;
    font-family:fantasy;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 37.5%;
    background-color: rgba(15, 15, 15, 0.281);
}
#claimbtn .btn{
    background-color: rgba(48, 47, 47, 0.404);
    color: rgba(26, 26, 26, 0.781);
    font-family:fantasy;
    border: 3px solid rgba(235, 148, 76, 0.712);
    cursor: pointer;
    margin-top: 1%;
    margin-left: 47.5%;
}
